<!doctype html>
<html lang="en">

<head>
    <title>Login</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="shortcut icon" href="../static/img/shop.png">
</head>

<body>
    <div class="alert alert-success">
        <strong>Bievenido a El Mercadito</strong>
    </div>
    <div class="bg-transparent">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header">
                                        <h3 class="text-center font-weight-light my-4">Iniciar Sesion</h3>
                                    </div>
                                    <div class="card-body">
                                        <!--<div class="alert alert-danger alert-dismissible fade show" role="alert">Incorrect username or password.</div> -->
                                        <form action="/login" method="POST">
                                            <!-- to error: add class "has-danger" -->
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputEmailAddress">Correo</label>
                                                <input class="form-control py-4" name="emailLogin" type="email"
                                                    id="emailLogin" placeholder="Correo" required autofocus>
                                            </div>
                                            <div class="form-group">
                                                <label class="small mb-1" for="inputPassword">Contraseña</label>
                                                <input class="form-control py-4" name="passwordLogin" type="password"
                                                    id="passwordLogin" placeholder="Contraseña" required autofocus />
                                            </div>
                                            <div
                                                class="form-group d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="small" href="{{ url_for('password') }}">Olvidó la
                                                    contraseña?</a>
                                                <button type="submit" class="btn btn-primary"
                                                    href="{{ url_for('home') }}">Iniciar
                                                    Sesion</button>
                                            </div>
                                            <h1></h1>
                                            <!-- Desplegar mensaje Flash si existe -->
                                            {%with messages = get_flashed_messages(with_categories=true)%}
                                            <!-- Verificacion si hay mensajes -->
                                            {%if messages %}
                                            <!-- Ciclo para cada mensaje -->
                                            {%for category, message in messages%}
                                            <div class="alert {{category}}" id="idMensajeError">
                                                <!-- Desplega el mensaje -->
                                                {{message}}
                                            </div>
                                            {%endfor%}
                                            {%endif%}
                                            {%endwith%}
                                        </form>
                                    </div>
                                    <div class="card-footer text-center">
                                        <div class="small"><a href="{{ url_for('signup') }}">Necesitas una cuenta?
                                                Registrate!</a></div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <br>
            </div>
            <div class="fixed-bottom">
                <div id="layoutAuthentication_footer"></div>
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; El Mercadito</div>
                            <div>
                                <a href="{{ url_for('terminos') }}">Privacy Policy · Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>