{% extends "template.html" %}

{% block content %}

<div class="container">
    <div class="py-5 text-center">
        <img class="d-block mx-auto mb-4" src="../../static/img/shop.png" alt="" width="72" height="72">
        <h2>Formulario de pago</h2>
        <p class="lead">Gracias por comprar en El Mercadito.</p>
    </div>

    <div class="row">
        <div class="col-md-4 order-md-2 mb-4">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted cc_cursor">Su Carrito</span>
                <span class="badge badge-secondary badge-pill">{{total}}</span>
            </h4>
            <ul class="list-group mb-3">
                {% for row in cart %}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div>
                        <h6 class="my-0">{{row[1]}}</h6>
                        <small class="text-muted">{{row[3]}}</small>
                    </div>
                    <span class="text-muted">1</span>
                </li>
                {% endfor %}
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total (CR)</span>
                    <strong>{{finalprice}}</strong>
                </li>
            </ul>
        </div>
        <div class="col-md-8 order-md-1">
            <h4 class="mb-3">Dirección de Envio</h4>
            <form class="needs-validation" novalidate="">
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="firstName">Nombre</label>
                        <span type="text"  class="form-control" id="firstName" placeholder="" >{{session['username']}}</span>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="lastName">Apellido</label>
                        <span type="text" class="form-control" id="lastName" placeholder="" >{{session['apellido']}}</span>
                    </div>
                </div>
                <div class="mb-3">
                    <label for="email">Email</label>
                    <span type="email" class="form-control" id="email" placeholder="sucorreo@mail.com" >{{session['correo']}}</span>
                </div>
                <div class="mb-3">
                    <label for="address">Dirección</label>
                    <span type="text" class="form-control" id="address" placeholder="Calle, Avenida" >{{session['direccion']}}</span>
                </div>
                <hr class="mb-4">
                <h4 class="mb-3">Pago</h4>
                <div class="d-block my-3">
                    <div class="custom-control custom-radio">
                        <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="">
                        <label class="custom-control-label" for="credit">Tarjeta de crédito</label>
                    </div>
                    <div class="custom-control custom-radio">
                        <input id="debit" name="paymentMethod" type="radio" class="custom-control-input">
                        <label class="custom-control-label" for="debit">Tarjeta de débito</label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 mb-3">
                        <label for="cc-name">Nombre del Propietario</label>
                        <input type="text" class="form-control" id="cc-name" placeholder="" >
                        <small class="text-muted">Nombre completo como se muestra en la tarjeta</small>
                    </div>
                    <div class="col-md-6 mb-3">
                        <label for="cc-number">Número de tarjeta de crédito</label>
                        <input type="number" class="form-control" id="cc-number" placeholder="" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 mb-3">
                        <label for="cc-expiration">Expiration</label>
                        <input type="text" class="form-control" id="cc-expiration" placeholder="" required autofocus>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="cc-cvv">CVV</label>
                        <input type="number" class="form-control" id="cc-cvv" placeholder="" required autofocus>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12  col-md-6">
                        <a href="{{url_for('home')}}" class="btn btn-block btn-light">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-plus"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M8.5 5a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z" />
                                <path fill-rule="evenodd"
                                    d="M8 7.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0v-2z" />
                                <path fill-rule="evenodd"
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg> Continue Shopping</a>
                    </div>
                    <div class="col-sm-12 col-md-6 text-right">
                        <a href="/checkout" class="btn btn-block btn-success" onclick="submit()">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-cart-check"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M11.354 5.646a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 1 1 .708-.708L8 8.293l2.646-2.647a.5.5 0 0 1 .708 0z" />
                                <path fill-rule="evenodd"
                                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z" />
                            </svg> Checkout</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<br>
<div class="position-relative">
    <div id="layoutAuthentication_footer"></div>
    <footer class="py-4 bg-light mt-auto">
        <div class="container-fluid">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Copyright &copy; El Mercadito</div>
                <div>
                    <a href="{{ url_for('terminos') }}">Privacy Policy · Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock%}