{% extends "template.html" %}

{% block content %}

<div class="container" style="width: 75%; margin: 0 auto;">
  <div class=" container">
    <div class="row">
      {% for row in venta %}
      <div class="col-md-4">
        <div class="card" style="width: 18rem; margin-bottom : 25px">
          <img src="../../static/img/Computadoras/PuntoVenta/{{row[0]}}.jpg" class="card-img-top"
            style="height: 200px; width: 286px;" alt="{{row[1]}}">
          <div class="card-body">
            <h5 class="card-title">{{row[1]}}</h5>
            <p class="card-text">{{row[5]}}</p>
            <p class="card-text">₡{{row[3]}}</p>
            <button type="button" class="btn btn-sm btn-outline-secondary">Añadir al carrito</button>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
<div class="float-right">
  <p class="container-fluid">
    <a href="{{ url_for('venta') }}">Volver arriba</a>
  </p>
</div>
<br>
<div class="position-relative">
  <div id="layoutAuthentication_footer"></div>
  <footer class="py-4 bg-light mt-auto">
    <div class="container-fluid">
      <div class="d-flex align-items-center justify-content-between small">
        <div class="text-muted">Copyright &copy; El Mercadito</div>
        <div>
          <a href="{{ url_for('terminos') }}">Privacy Policy · Terms &amp; Conditions</a>
        </div>
      </div>
    </div>
  </footer>
</div>
{% endblock%}