<!doctype html>
<html lang="en">

<head>
    <title>test</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link href="css/styles.css" rel="stylesheet" />
</head>

<body>
    <div id="subcategories">
        <div class="clearfix">
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/13-procesadores" title="PROCESADORES" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/13-category_default/procesadores.jpg"
                                alt="PROCESADORES">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/13-procesadores">PROCESADORES</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/16-tarjeta-madre" title="TARJETA MADRE" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/16-category_default/tarjeta-madre.jpg"
                                alt="TARJETA MADRE">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/16-tarjeta-madre">TARJETA MADRE</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/17-memoria-ram" title="MEMORIA RAM" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/17-category_default/memoria-ram.jpg"
                                alt="MEMORIA RAM">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/17-memoria-ram">MEMORIA RAM</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/18-tarjetas-de-video" title="TARJETAS DE VIDEO"
                            class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/18-category_default/tarjetas-de-video.jpg"
                                alt="TARJETAS DE VIDEO">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/18-tarjetas-de-video">TARJETAS DE
                            VIDEO</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/161-tarjetas-de-sonido" title="TARJETAS DE SONIDO"
                            class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/es-default-category_default/tarjetas-de-sonido.jpg"
                                alt="TARJETAS DE SONIDO">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/161-tarjetas-de-sonido">TARJETAS DE
                            SONIDO</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/19-almacenamiento" title="ALMACENAMIENTO" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/19-category_default/almacenamiento.jpg"
                                alt="ALMACENAMIENTO">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/19-almacenamiento">ALMACENAMIENTO</a>
                    </h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/23-enfriamiento" title="ENFRIAMIENTO" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/23-category_default/enfriamiento.jpg"
                                alt="ENFRIAMIENTO">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/23-enfriamiento">ENFRIAMIENTO</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/24-fuentes-de-poder" title="FUENTES DE PODER"
                            class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/24-category_default/fuentes-de-poder.jpg"
                                alt="FUENTES DE PODER">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/24-fuentes-de-poder">FUENTES DE
                            PODER</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/25-cases" title="CASES" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/25-category_default/cases.jpg"
                                alt="CASES">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/25-cases">CASES</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/26-ventiladores" title="VENTILADORES" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/26-category_default/ventiladores.jpg"
                                alt="VENTILADORES">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/26-ventiladores">VENTILADORES</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/27-monitores" title="MONITORES" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/27-category_default/monitores.jpg"
                                alt="MONITORES">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/27-monitores">MONITORES</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/28-reguladores-y-ups" title="REGULADORES Y UPS"
                            class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/28-category_default/reguladores-y-ups.jpg"
                                alt="REGULADORES Y UPS">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/28-reguladores-y-ups">REGULADORES Y
                            UPS</a></h5>
                </div>
            </div>
            <div class="col-md-3 col-xs-6 col-sp-12">
                <div class="subcategories scene_cat">
                    <div class="image">
                        <a href="http://extremetechcr.com/tienda/157-accesorios" title="ACCESORIOS" class="img">
                            <img class="replace-2x img-responsive"
                                src="http://f5e6t5d2.stackpathcdn.com/tienda/c/es-default-category_default/accesorios.jpg"
                                alt="ACCESORIOS">
                        </a>
                    </div>
                    <h5 class="cat-name"><a href="http://extremetechcr.com/tienda/157-accesorios">ACCESORIOS</a></h5>
                </div>
            </div>
        </div>

    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>

</html>